
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 2;
  color: #f8f9fa;
  background-color: #222;
  margin: 1in;
}

p {
  text-indent: 0.5in;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #FFC0CB;
  text-indent: 0;
}

a {
  color: #fe019a;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 2rem 0;
}
